@import "tailwindcss";

@source "../index.html";
@source "./**/*.{js,ts,jsx,tsx}";

/* Tus animaciones para el giro de carta */
.perspective-1000 { perspective: 1000px; }
.transform-style-3d { transform-style: preserve-3d; }
.backface-hidden { backface-visibility: hidden; }
.rotate-y-180 { transform: rotateY(180deg); }

/* Reset básico */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}
/* Estilo para navegadores Chrome, Edge y Safari */
::-webkit-scrollbar {
  width: 6px; /* Muy fina */
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Fondo invisible */
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1); /* Color gris muy suave */
  border-radius: 10px;
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3); /* Se nota un poco más al pasar el mouse */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}